
<div class="container bgr">
    <div class="row">
        <div class=" col-12 col-md-6 col-lg-6 mx-auto result1">
                
            <br>
                <br>
 
            <ul class="Res">
                <li class="Res">
                    <span class="result">0</span>
<button class="btn">X</button>

                </li>
                <li class="Res">
                        
                        <button class="btn">O</button>
                        <span class="result">0</span>

                </li>
            </ul>
        
        </div>
    </div>
    <div class="row">
            <div class="form-group col-12 col-md-6 col-lg-6 mx-auto">
                   
                    <table _ngcontent-c1="" class="tic-tac-toe-table js-table">
                        <tbody _ngcontent-c1="">
                            <tr _ngcontent-c1="">
                                <td _ngcontent-c1="" class="tic-tac-toe-table-cell js-cell " data-index="0"><!----><!----></td>
                                <td _ngcontent-c1="" class="tic-tac-toe-table-cell js-cell" data-index="1"><!----><!----></td>
                                <td _ngcontent-c1="" class="tic-tac-toe-table-cell js-cell" data-index="2"><!----><!----></td>
                            </tr>
                                <tr _ngcontent-c1="">
                                    <td _ngcontent-c1="" class="tic-tac-toe-table-cell js-cell" data-index="3"><!----><!----></td>
                                    <td _ngcontent-c1="" class="tic-tac-toe-table-cell js-cell" data-index="4"><!----><!----></td>
                                    <td _ngcontent-c1="" class="tic-tac-toe-table-cell js-cell" data-index="5"><!----><!----></td>
                                </tr>
                                <tr _ngcontent-c1=""><td _ngcontent-c1="" class="tic-tac-toe-table-cell js-cell" data-index="6"><!----><!----></td>
                                    <td _ngcontent-c1="" class="tic-tac-toe-table-cell js-cell" data-index="7"><!----><!----></td>
                                    <td _ngcontent-c1="" class="tic-tac-toe-table-cell js-cell" data-index="8"><!----><!----></td>
                                </tr>
                            </tbody>
                        </table>
              
                <br>
    <br><br>
    <br>
            </div>
        </div>
</div>