.Res{
    display: inline-block;
    margin-right: 20px;

}
.result1{
  
  text-align: center;
  
}
.result{
    margin-left: 7px;
    margin-right: 7px;
    width: 40px;
    color: #95a7c1;
    display: inline-block;
    background: #273342;
    border-radius: 14px;
   
    text-align: center;
    top: 50%;
    border-left: 1px solid #141a22;
    border-top: 1px solid #141a22;
    height: 28px;
    line-height: 26px;
}
.btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #54667f;
    box-shadow: 3px 3px 0 0 #344359;
    color: white;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.btn:hover{

    border: 3px solid transparent;
    border-top-color: rgba(255,255,255,.3);
    border-bottom-color: rgba(255,255,255,.3);
    animation: 1s infinite spinner;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: spinner;
    -webkit-animation: 1s infinite spinner ;
    box-sizing: border-box;
}


table {
    border-collapse: collapse;
    width: 500px;
    height: 500px;
    z-index: 10;
  }
  table, tr, td {
    border: 3px solid #283344;
  }
  td{
    text-align: center;
    color: white;
    font-size: 100px;
    width: 167px;
    height: 167px;
    cursor: pointer;
    
    
  }
  td:hover{
    background-color: rgb(129, 32, 32);
  }
  td:active{
    background-color: rgb(129, 32, 32);
  }

  .bgr{
    color: #4c525c;
    background: #4c525c;
    
    background-color: rgb(76, 82, 92);
}

